:root {
    --bg-primary: #282838;
    --bg-secondary: #F3E9DC;
    --bg-accent: #713A25;

    --clr-primary: #000000;
    --clr-secondary: #ffffff;
    --clr-accent: #C1B098;
    --clr-shadow: rgba(0, 0, 0, 0.2);

    --fs-100: .875rem;
    --fs-200: 1rem;
    --fs-300: 1.5rem;
    --fs-400: 2rem;
    --fs-500: 3.5rem;

    --padding-50: .5em;
    --padding-100: 1em;
    --padding-200: 2em;
    --padding-300: 3em;
    --padding-400: 4em;
    --padding-500: 5em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Cardo', sans-serif;
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}
body {
    position: relative;
}

/* General styling */

main {
    display: grid;
    grid-template-columns: 100%;
}
main > * {
    padding: var(--padding-100) calc(var(--padding-100) * 1.5);
}
a {
    text-decoration: none;
    color: var(--clr-secondary);
    font-size: var(--fs-200);
    cursor: pointer;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
}
.text-blue {
    color: var(--bg-primary);
}
.text-creme {
    color: var(--clr-accent);
}
.bg-blue {
    background-color: var(--bg-primary);
}
.bg-creme {
    background-color: var(--bg-secondary);
}

/* Header */

.header {
    padding: var(--padding-100) var(--padding-50);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > * {
    min-width: 80px;
}
.header__figure {
    margin: 0;
    line-height: 1;
    text-align: center;
}
.header__figure--logo {
    max-width: 2em;
}
.header__figure--caption {
    color: var(--clr-secondary);
    font-size: var(--fs-200);
}
.header__button {
    background: transparent;
    border: none;
}

/* Hamburger__animation */

.toggle {
    --button-color: var(--clr-secondary);
    background: transparent;
    border:none;
    cursor: pointer;
}
.toggle svg {
    max-width: 3em;
}

.toggle[data-state="closed"] :is(.top, .bottom) {
    animation: to-open-icon 1s forwards;
}

.toggle[data-state="opened"] :is(.top, .bottom) {
    animation: to-close-icon 1s forwards;
}
.toggle .hamburger {
    transition: rotate 800ms 100ms;
}
.toggle[data-state="opened"] .hamburger {
    rotate: 1turn;
}

.toggle .line.top {
    --rotation: -45deg;
    transform-origin: 65px 45px;
}
.toggle .line.bottom {
    --rotation: 45deg;
    transform-origin: 60px 55px;
}

@keyframes to-close-icon {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 79.9;
    }
    60% {
        stroke-dashoffset: 79.9;
        rotate: calc(var(--rotation));
    }
    100% {
        stroke-dashoffset: 0;
        rotate: var(--rotation);
    }
}
@keyframes to-open-icon {
    0% {
        stroke-dashoffset: 0;
        rotate: var(--rotation);
    }
    40% {
        stroke-dashoffset: 79.9;
        rotate: var(--rotation);
    }
    60% {
        stroke-dashoffset: 79.9;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

/* Overlay Nav */

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: var(--bg-primary);
    transform: translateX(-100vw);
    transition: all 1s ease-in-out;
    opacity: 0;
}
.navigation[aria-expanded='true'] {
    transform: translateX(0);
    opacity: 1;
}
.navigation ul {
    width: 80vw;
    line-height: 3;
    position: relative;
    color: var(--clr-accent);
    background-image: url(/images/M\ E\ N\ U.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}
.navigation .navigation__item a {
    color: var(--clr-accent);
}

.home-wrapper,
.about-wrapper,
.booking-wrapper {
    min-height: 100vh;
    min-width: 100vw;
    max-height: 950px;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-wrapper {
    background-image: url(/images/home.jpg);
    background-position: 85%;
}
.about-wrapper {
    background-image: url(/images/about_header.jpg);
    background-position: 50%;
}
.booking-wrapper {
    background-image: url(/images/booking_header.jpg);
    background-position: 40%;
}

.main {
    height: 100vh;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    flex-wrap: wrap;
}

.main :is(.main__headline, .main__subtitle) {
    color: var(--clr-secondary);
    text-transform: uppercase;
    margin: 0;
}
.main__headline {
    font-size: clamp(1.5rem, 1.5rem, 4rem);
}
.main__subtitle {
    font-size: .8rem;
}

/* About page */

.main.about {
    margin-top: calc(var(--padding-500) * 2);
}
.main.about h1 {
    font-size: var(--fs-500) !important;
    font-weight: 100;
}
.main.about p {
    padding: var(--padding-200);
}
.main .main__scroll,
.main.about p,
.info__block:last-of-type {
    text-align: center;
}
.main .main__scroll--caption {
    font-size: var(--fs-200);
    color: var(--clr-secondary);
}
.info__block {
    position: relative;
}
.info__block:nth-of-type(2) {
    text-align: right;
}
.info__block:last-of-type::before {
    content: url(/images/arrowSliderPrev.png);
    position: absolute;
    top: 50%;
    left: 2%;
}
.info__block:last-of-type::after {
    content: url(/images/arrowSliderNext.png);
    position: absolute;
    top: 50%;
    right: 2%;
}
.info__block--sep {
    min-height: 150px;
    position: relative;
}
.info__block--sep.left,
.info__block--sep.right {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.info__block--sep.left {
    background-image: url(/images/STORY.png);
    margin-left: var(--padding-200);
}
.info__block--sep.right {
    background-image: url(/images/CABINS.png);
    margin-right: var(--padding-500);
}
.info__block--sep::before {
    content: '';
    position: absolute;
    top: 45%;
    right: 90%;
    width: 8em;
    height: 2px;
    border-radius: 10px;
    rotate: 90deg;
    background-color: var(--bg-accent);
}
.info__block--sep.right::before {
    right: -43%;
    width: calc(var(--padding-500) * 2);
}
.info__block--text {
    padding: var(--padding-100) 0 var(--padding-400) 0;
}
.info__block--figure {
    width: 100%;
    height: max-content;
}
.info__block--figure:first-of-type {
    background-image: linear-gradient(#282838 50%, #F3E9DC 50%);
    margin-top: -5em;
    text-align: right;
}
.info__block--figure:last-of-type {
    background-image: linear-gradient(#F3E9DC 50%, #282838 50%);
    text-align: center;
}
.info__block--figure img {
    width: 80vw;
}
.info__block--heading {
    letter-spacing: 3px;
}
.info__block--link {
    text-align: left;
}
.info__block--link a {
    color: var(--bg-accent);
}

/* Booking page */
.main.booking,
.booking__form--inputs,
.booking__form--input {
    text-align: center;
}
.main.booking h1 {
    font-size: clamp(1.5rem, 2rem, 4rem);
}

main.booking {
    display: grid;
    grid-template-columns: 100%;
    padding: var(--padding-200) 0;
    gap: var(--padding-200);
}
.booking__forms {
    display: grid;
    gap: var(--padding-100);
    padding: 0 var(--padding-300);
}
.booking__form,
.booking__room-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--padding-100);
}
.booking__form--inputs > * {
    max-width: 100px;
}
.booking__form--input {
    background: transparent;
    border: none;
}
.booking__form--inputs.choice article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking__form--inputs.choice article::before {
    content: '\2212';
}
.booking__form--inputs.choice article::after {
    content: '\208A';
}
.booking__form--inputs.choice input {
    max-width: 50px;
}
.button {
    background-color: var(--bg-accent);
    border: none;
    border-radius: 6px;
    color: var(--clr-secondary);
    padding: var(--padding-50) 0;
    font-size: var(--fs-200);
}
.booking__rooms {
    display: none;
    gap: var(--padding-500);
}
.booking__room {
    display: grid;
    grid-template-columns: 100%;
    gap: var(--padding-100);
}
.booking__room-top--image {
    width: 12em;
}
.booking__room-top--info {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--padding-100);
}
.booking__room--button {
    padding: var(--padding-50) var(--padding-100);
}
.booking__room-bottom {
    display: grid;
    gap: var(--padding-100);
}
.booking__room-bottom--list {
    display: flex;
    gap: var(--padding-50);
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}
.booking__room-bottom--list:last-of-type {
    list-style: disc;
    gap: calc(var(--padding-100) * 1.5);
}
.booking__room-bottom--list:first-of-type li::before {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    text-align: center;
}
.booking__room-bottom--list:first-of-type li:first-of-type::before {
    content: url(/images/Person-icon.png);
}
.booking__room-bottom--list:first-of-type li:nth-of-type(2)::before {
    content: url(/images/bed-icon.png);
}
.booking__room-bottom--list:first-of-type li:nth-of-type(3)::before {
    content: url(/images/bath-icon.png);
}

/* Footer */

.footer {
    padding: var(--padding-100) var(--padding-300) var(--padding-400);
    display: grid;
    grid-template-columns: 100%;
    gap: var(--padding-100);
}
.footer a {
    color: var(--bg-primary);
}
.footer > * {
    color: var(--bg-primary);
    letter-spacing: 2px;
}
.footer.bg-blue a {
    color: var(--clr-accent);
}
.footer.bg-blue > * {
    color: var(--clr-accent);
}
.footer__nav {
    display: flex;
    justify-content: space-between;
}
.footer__nav--items {
    display: flex;
    flex-direction: column;
    gap: var(--padding-100);
}
.footer__sign-up,
.footer__social {
    display: grid;
    gap: var(--padding-100);
}
.footer__sign-up--form input,
.footer__sign-up--button {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--bg-primary);
    line-height: 2;
}
.footer__sign-up--form input {
    width: 100%;
}
.footer__sign-up--button {
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--bg-accent);
}
.footer.bg-blue :is(.footer__sign-up--form input, .footer__sign-up--button) {
    border-bottom: 1px solid var(--clr-accent);
}
.footer__social--links ul {
    display: flex;
    gap: var(--padding-100);
}

@media (min-width: 1200px) {
    main.info > *:not(.info__block--figure) {
        padding: var(--padding-300) calc(var(--padding-500) * 2);
    }
    .info__block--sep {
        max-width: 500px;
    }
    .info__block--sep.left,
    .info__block:nth-of-type(2) > *:not(div) {
        margin-left: auto;
    }
    .info__block > *:not(div) {
        max-width: 500px;
    }
    .info__block:last-of-type > * {
        margin: 0 auto;
    }
    .info__block:last-of-type::before {
        left: 30%;
    }
    .info__block:last-of-type::after {
        right: 30%;
    }
    main.booking {
        gap: calc(var(--padding-500) * 2);
    }
    .main.booking {
        max-width: 600px;
    }
    .booking__forms--button,
    .booking__forms {
        max-width: 50%;
        padding: var(--padding-50) var(--padding-200);
    }
    .booking__forms {
        margin: 0 auto;
        justify-items: center;
    }
    .booking__form {
        grid-template-columns: repeat(4, 1fr);
    }
    .booking__room,
    .footer {
        display: flex;
        justify-content: center;
        gap: var(--padding-300);
    }
    .booking__room-top--info h4 {
        margin-bottom: auto;
        font-size: var(--fs-400);
        font-weight: 100;
    }
    .booking__room-top--image {
        width: 32em;
    }
    .booking__room-bottom--list:first-of-type {
        flex-direction: column;
    }
    .footer {
        padding: var(--padding-400);
        line-height: 2;
    }
    .footer__nav {
        gap: var(--padding-200);
    }
}